@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* This is the HTML Body */
body{
    font-family: 'Montserrat', sans-serif;      
    font-size: 30px;
}

/* For Header Logo */
.logo{
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

/* Base Button */
.btn{
    background-color: #0d6efd;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/* Colourful button */
.success {background-color: #4CAF50;} /* Green */
.primary {background-color: #0d6efd;} /* Blue */
.danger {background-color: #f44336;}
.warning {background-color: #ffc107;} /* Yellow */
.gray {background-color: #e7e7e7; color: black;} /* Gray */
.black {background-color: #555555;} /* Black */