/* Importing the Font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* This is the HTML Body */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}


/* For Header Logo */

header {
    text-decoration: none;
}

.logo {
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}


/* Base Button */

.btn {
    background-color: #3485ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Colourful button */

.success {
    background-color: #4CAF50;
}


/* Green */

.primary {
    background-color: #3485ff;
}


/* Blue */

.danger {
    background-color: #f44336;
}

.warning {
    background-color: #ffc107;
}


/* Yellow */

.gray {
    background-color: #e7e7e7;
    color: black;
}


/* Gray */

.black {
    background-color: #414141;
    color: white;
}


/* Black */


/* Code */

code {
    font-family: Consolas, "courier new";
    color: rgb(0, 0, 0);
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
    font-family: monospace;
}

pre {
    border-style: solid;
    background-color: #ffffff;
}


/* Form */

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


/* Cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 20%;
    height: 5%;
    margin-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

th {
    text-align: left;
}

table {
    border-spacing: 5px;
}